:root {
  --color1: #006769;
  --color2: #40a578;
  --color3: #9dde8d;
  --color4: #e6ff94;
}
.Hero {
  background: linear-gradient(rgba(0, 103, 105, 0.8), rgba(0, 103, 105, 0.8)),
    url(../../assets/hero.jpg);
  background-size: cover;
  background-position: center;
  display: grid;
  place-content: center;
  row-gap: 2rem;
}
.Hero .HeroTop h1 {
  color: var(--color2);
  font-size: 80px;
  margin: 2rem 0;
  font-style: italic;
  text-align: center;
}
.Hero .HeroTop span {
  color: var(--color4);
}
.Hero .HeroTop h3 {
  color: var(--color2);
  font-size: 50px;
  margin-bottom: 2rem;
  font-style: italic;
  text-align: center;
}
.Hero .HeroBottom {
  margin-bottom: 2rem;
  display: flex;
  justify-content: space-evenly;
}
.Hero .HeroBottom button {
  padding: 0.8rem 1.8rem;
  border-radius: 10px;
  border: none;
  cursor: pointer;
  font-size: 15px;
}
.Hero .HeroBottom .rentbtn {
  background-color: var(--color2);
  color: var(--color4);
}
.Hero .HeroBottom .rentbtn:hover {
  background-color: var(--color1);
}
.Hero .HeroBottom .bebtn {
  background-color: var(--color4);
  color: var(--color1);
}
.Hero .HeroBottom .bebtn:hover {
  background-color: var(--color3);
}

@media screen and (max-width: 56.25em) {
  .Hero .HeroTop h1 {
    font-size: 60px;
  }
  .Hero .HeroTop h3 {
    font-size: 30px;
  }
}
@media screen and (max-width: 35.9375em) {
  .Hero .HeroTop h1 {
    font-size: 30px;
  }
  .Hero .HeroTop h3 {
    font-size: 20px;
  }
  .Hero .HeroBottom button {
    padding: 0.5rem 1rem;
  }
}

/*Why us*/
.whyus {
  padding: 1rem;
  display: flex;
  background-color: var(--color2);
  column-gap: 1rem;
}
.whyus .whyusCard {
  background-color: var(--color1);
  padding: 1rem;
  border-top-left-radius: 20px;
  border-bottom-right-radius: 20px;
}
.whyus .whyusCard .whyusCardTop {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 10px;
}
.whyus .whyusCard .whyusCardTop div {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  font-size: 20px;
  display: grid;
  place-content: center;
  background-color: var(--color2);
}
.whyus .whyusCard .whyusCardHeader h2 {
  text-align: center;
  margin-bottom: 10px;
}
.whyus .whyusCard .whyusCardpara p {
  line-height: 1.5rem;
  text-align: center;
}
@media screen and (max-width: 56.25em) {
  .whyus {
    flex-direction: column;
    row-gap: 1rem;
    justify-content: center;
    align-items: center;
  }
  .whyus .whyusCard {
    width: 80%;
  }
}
@media screen and (max-width: 26.875em) {
  .whyus .whyusCard {
    width: 100%;
  }
}

/*aboutus*/
.aboutus {
  display: flex;
  padding: 1rem;
}
.aboutus .aboutusLeft {
  width: 50%;
}
.aboutus .aboutusLeft .image img {
  width: 80%;
  border-radius: 10px;
  box-shadow: 0px 20px 40px 0 rgba(0, 103, 105, 1);
  object-fit: cover;
  color: black;
}
.aboutus .aboutusLeft .Aboutstats {
  display: flex;
  margin-top: 10px;
  flex-wrap: wrap;
  width: 100%;
  row-gap: 2rem;
  padding: 0 2rem;
  align-items: center;
  justify-content: center;
}
.aboutus .aboutusLeft .Aboutstats div {
  width: 50%;
  color: var(--color2);
}
.aboutus .aboutusRight {
  width: 50%;
  display: grid;
  place-content: center;
}
.aboutus .aboutusRight h1 {
  color: var(--color2);
}
.aboutus .aboutusRight p {
  line-height: 1.5rem;
  color: var(--color2);
}
@media screen and (max-width: 44.375em) {
  .aboutus {
    flex-direction: column;
    margin: 0 auto;
  }

  .aboutus .aboutusLeft {
    width: 100%;
    margin: 0 auto;
  }
  .aboutus .aboutusLeft .image img {
    width: 100%;
  }
  .aboutus .aboutusRight {
    width: 100%;
    margin-top: 20px;
  }
  .aboutus .aboutusRight h1 {
    text-align: center;
  }
}

/*partnership*/
.partnership {
  margin: 1rem;
  padding: 1rem;
}
.partnership h1 {
  text-align: center;
  font-size: 30px;
  font-style: italic;
  margin-bottom: 20px;
}
.partnership .partnershipimages {
  display: flex;
  column-gap: 1rem;
  justify-content: space-evenly;
}
.partnership .partnershipimages img {
  width: 10%;
  border-radius: 20%;
  box-shadow: 0px 20px 40px 0 rgba(0, 103, 105, 1);
}
@media screen and (max-width: 26.875em) {
  .partnership .partnershipimages {
    flex-wrap: wrap;
    row-gap: 1rem;
  }
  .partnership .partnershipimages img {
    width: 30%;
  }
}

/*Testimonials*/
.Testimonials {
  padding: 1rem;
  margin: 0 auto;
}
.Testimonials h1 {
  font-size: 30px;
  text-align: center;
}
.Testimonials .TestimonialsWrapper {
  display: flex;
  flex-wrap: wrap;
  background-color: var(--color2);
  justify-content: center;
  gap: 2rem;
  padding: 2rem;
}
.Testimonials .TestimonialsWrapper .testmoy {
  width: 30%;
  background-color: var(--color3);
  padding: 1rem;
  border-top-left-radius: 50px;
  border-bottom-right-radius: 50px;
}
.Testimonials .TestimonialsWrapper .testmoy .testmoyTop {
  display: flex;
  width: 100%;
  column-gap: 2rem;
}
.Testimonials .TestimonialsWrapper .testmoy .testmoyTop .testmoyTopimage {
  width: 40%;
}
.Testimonials .TestimonialsWrapper .testmoy .testmoyTop .testmoyTopimage img {
  width: 100%;
  border-top-left-radius: 50px;
  border-bottom-right-radius: 50px;
}

.Testimonials .TestimonialsWrapper .testmoy .testmoyTop .testmoyTopdetails h2 {
  font-size: 15px;
  font-style: italic;
  margin-bottom: 7px;
}
.Testimonials .TestimonialsWrapper .testmoy .testmoyTop .testmoyTopdetails p {
  margin-bottom: 7px;
  font-size: 12px;
}
.Testimonials .TestimonialsWrapper .testmoy .testmoyBottom {
  width: 100%;
}
.Testimonials .TestimonialsWrapper .testmoy .testmoyBottom h2 {
  font-size: 15px;
  margin-top: 7px;
}
.Testimonials .TestimonialsWrapper .testmoy .testmoyBottom p {
  font-size: 13px;
  line-height: 1.2rem;
}
@media screen and (max-width: 48.75em) {
  .Testimonials .TestimonialsWrapper .testmoy {
    width: 46%;
  }
}
@media screen and (max-width: 48.75em) {
  .Testimonials .TestimonialsWrapper .testmoy {
    width: 80%;
  }
}
@media screen and (max-width: 48.75em) {
  .Testimonials .TestimonialsWrapper .testmoy {
    width: 100%;
  }
}
